<div id="footerOuterSeparator"></div>

    <div id="divFooter" class="footerArea">

        <div class="divPanel">

            <div class="row-fluid">
                <div class="span3" id="footerArea1">
		  {% setcontent about = "page/about" %}

		  {# check if we have a title. If so, we know we have a page. Otherwise, still
		  print a text, telling us to create the 'about' page. #}
		  {% if about.title is defined %}

		  <h5>{{ about.title }}</h5>
		  {{ about.teaser }}

		  <a href="{{ about.link }}">{{ __('Read more') }} &raquo;</a>

		  {% else %}

		  <h5>{{ __('Alas, no about!') }}</h5>

		  <p>{{ __("If there was a Page with 'about' for a slug, it would've been shown here. But there isn't one, so that's why you're seeing this placeholder.") }}</p>

		  {% endif %}   
                </div>
                
                <div class="span3" id="footerArea2">
                {% setcontent blog='entries/latest/3' %}

                    <h3>Recent Blog Posts</h3>
                    {% for item in blog %}                    
                    <p>
                        <a href="{{ item.link }}" title="">{{ item.title }}</a><br />
                        <span style="text-transform:none;">{{ item.values.datepublish|localdate("%A %B %e") }}</span>
                    </p>
                    {% endfor %}
                       <br /><a href="/entries" title="">View all posts &raquo;</a>
                    

                </div>
                <div class="span3" id="footerArea3">
		{% setcontent stuff='pages/random/1' %}
                {% for item in stuff %}
                    <h3>{{ item.title }}</h3>

                    {{ item.teaser }}
                {% endfor %}   
		   <br /><a href="/pages" title="">All pages &raquo;</a>
                  
                </div>
                <div class="span3" id="footerArea4">
		   {% if theme.phone is defined and theme.email is defined and theme.adress is defined and theme.adress1 is defined and theme.adress2 is defined %}
                    <h3>Get in Touch</h3>  
                                                           
                    <ul id="contact-info">
                    <li>                                    
                        <i class="general foundicon-phone icon"></i>
                        <span class="field">Phone:</span>
                        <br />
                        {{ theme.phone }}                                                                   
                    </li>
                    <li>
                        <i class="general foundicon-mail icon"></i>
                        <span class="field">Email:</span>
                        <br />
                        <a href="mailto:{{ theme.email }}" title="Email">{{ theme.email }}</a>
                    </li>
                    <li>
                        <i class="general foundicon-home icon" style="margin-bottom:50px"></i>
                        <span class="field">Address:</span>
                        <br />
                        {{ theme.adress }}<br />
                        {{ theme.adress1 }}<br />
                        {{ theme.adress2 }}
                    </li>
                    </ul>
                  {% else %}
		      <h3>Get in Touch</h3>  
                                                           
                    <ul id="contact-info">
                    <li>                                    
                        <i class="general foundicon-phone icon"></i>
                        <span class="field">Phone:</span>
                        <br />
                        {{ ('123456789') }}                                                                   
                    </li>
                    <li>
                        <i class="general foundicon-mail icon"></i>
                        <span class="field">Email:</span>
                        <br />
                        <a href="mailto:{{ theme.email }}" title="Email">{{ ('test@email.com') }}</a>
                    </li>
                    <li>
                        <i class="general foundicon-home icon" style="margin-bottom:50px"></i>
                        <span class="field">Address:</span>
                        <br />
                        {{ ('Test street 13') }}<br />
                        {{ ('Testcity 1234ti') }}<br />
                        {{ ('Testworld') }}
                    </li>
                    </ul>
                  {% endif %}  
                </div>
            </div>

            <br /><br />
            <div class="row-fluid">
                <div class="span12">
                    <p class="copyright">
                        {{ theme.footertext }}
                    </p>

                    <p class="social_bookmarks">
                        {% if theme.facebook %}<a href="{{ theme.facebook }}" target="_blank"><i class="social foundicon-facebook"></i> Facebook</a>{% endif %}
			{% if theme.twitter %}<a href="{{ theme.twitter }}" target="_blank"><i class="social foundicon-twitter"></i> Twitter</a>{% endif %}
			{% if theme.pinterest %}<a href="{{ theme.pinterest }}" target="_blank"><i class="social foundicon-pinterest"></i> Pinterest</a>{% endif %}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<br /><br /><br />

<script src="{{ paths.theme }}scripts/jquery-1.8.2.min.js" type="text/javascript"></script> 
<script src="{{ paths.theme }}scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ paths.theme }}scripts/default.js" type="text/javascript"></script>


<script src="{{ paths.theme }}scripts/camera/scripts/camera.min.js" type="text/javascript"></script>
<script src="{{ paths.theme }}scripts/easing/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="{{ paths.theme }}scripts/camera/scripts/jquery.mobile.customized.min.js" type="text/javascript"></script>
<script type="text/javascript">function startCamera() {$('#camera_wrap').camera({ fx: 'scrollLeft', time: 2000, loader: 'none', playPause: false, height: '65%', pagination: true });}$(function(){startCamera()});</script>


</body>
</html>