{% include '_header.twig' %}
    <div class="contentArea">

        <div class="divPanel notop page-content">

            <div class="breadcrumbs">
                <a href="{{ paths.root }}">Home</a> &nbsp;/&nbsp; <span>{{ record.title }}</span>
            </div>

            <div class="row-fluid">
                <div class="span8" id="divMain">

                    <h1>{{ record.title }}</h1>
                    {% if record.image %}<img src="{{ record.image|thumbnail(531,293) }}">{% endif %}
                    {{ record.body }}
                </div>
               {% include '_aside.twig' %}
            </div>

            <div id="footerInnerSeparator"></div>
        </div>
    </div>
{% include '_footer.twig' %}